OnlinePrintServiceMaven-web/src/main/webapp/WEB-INF/wsdl/localhost_8080/WebserviceP1/WebserviceP1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://printerT1.webservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://printerT1.webservice.com/">

<xs:element name="wsprinter" type="tns:wsprinter"/>

<xs:element name="wsprinterResponse" type="tns:wsprinterResponse"/>

<xs:complexType name="wsprinter">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsprinterResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>